@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: rgba(242, 242, 242, 1);
  height: 100%;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  border: 0;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.page-header {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.navigation {
  padding: 0;
  margin: 0 70px;
  display: flex;
  align-content: center;
  align-items: center;
}

.navigation-logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: -2px;
  margin-bottom: -6px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.navigation-item {
  margin: 0;
  padding: 0 16px;
  align-content: center;
}

.navigation-link {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: block;
}

.navigation-link-current {
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
}

.navigation-user-list {
  margin: 0;
  margin-left: auto;
  display: flex;
}

.navigation-user-item {
  margin: 0 12px;
}

.navigation-user-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position:relative;
}

.navigation-user-icon {
  display: block;
}

.count {
  display: block;
  position:absolute;
  right: -10px;
  top: -10px;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #7DB54F;
  padding: 5px;
}

.navigation-button-list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.navigation-button {
  width: 160px;
  font-size: 20px;
  line-height: 36px;
}

.main-index {
  flex-grow: 1;
}

.hero {
  margin: 0 auto;
  padding: 0;
  background-color:aquamarine;
  background-image: url(../images/Divider.svg), url(../images/index-background.jpg);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.hero-title {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}


/* ---------ADVANTAGES---------- */


.advantages {
  margin: 0;
  padding: 0;
}

.advantages-intro {
  text-align: center;
  margin: 0;
  padding: 69px 0;
  margin-bottom: 21px;
}

.advantages-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  align-items: center;
  align-content: center;
  height: 385px;

  .advantages-line {
    display: block;
    margin: auto;
    padding: 0;
    height: 0;
    width: 60px;
    border: none;
	  border-top: 2px solid #0000004D;
  }
}

.advantages-item-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  background-color: #82B3D3;
  color: #fff;

  .advantages-item-title {
    color: #fff;
  }

  .advantages-line {
    border-color: #FFFFFF4D;;
  }
}

.advantages-item:nth-child(3n) {
  background-color:rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.advantages-item-text {
  margin: 0 85px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ---------SERVICES---------- */

.services {
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-intro {
  margin: 64px 0;
}

.services-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.services-description {
  margin: 0;
  padding: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.services-item {
  padding: 81px 85px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.services-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-icons {
  display: block;
}

.services-item-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.services-item-description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}


/* ---------BOOKING---------- */


.booking {
  margin: 96px 0;
  padding: 0;
  text-align: center;
}

.booking-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.booking-description {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}



.subscribe {
  margin: 0;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.subscribe-description {
  color: #333;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  padding: 12px 20px;
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 0;
}

.subscribe-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.subscribe-with-bg {
  background-color: aquamarine;
  background-image: url(../images/subscribe-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.subscribe-with-bg > .subscribe-title {
  color: #fff;
}

.subscribe-with-bg > .subscribe-description {
  color: #fff;
}

.subscribe-with-bg > .subscribe-input {
  background-color: #fff;
}

/* ----------FOOTER------------- */


.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px;
  align-items: center;
}

.footer-social-block {
  width: 142px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-item {
  padding: 0 10px;
  width: 27px;
  height: 40px;
  align-content: center;
}

.button-social {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-tel-block {
  width: 720px;
  text-align: center;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
}

.htmlacademy-link {
  display: block;
}

/*---------------------------CATALOG-------------------------------*/

.main-catalog {
  flex-grow: 1;
}

.first-inner-block {
  margin: 0 auto;
  padding: 35px 70px 70px 70px;
  background-color: aquamarine;
  background-image: url(../images/filter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #fff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.breadcrumbs-item {
  min-width: 7px;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  display: block;
  color: #fff;
}

.breadcrumbs-icon {
  display: block;
}



/* ---------FILTERS---------- */



.booking-filter {
  display: flex;
}

.booking-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.booking-filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.booking-filter-item {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.booking-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.services-filter {
  margin-right: 70px;
}

.price-filter {
  margin-left: auto;
  margin-right: 70px;
}

.price-input {
  width: 103px;
  height: 24px;
  padding: 12px 20px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border-style: none;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-filter-values {
  display: flex;
  margin-bottom: 36px;
  gap: 2px;
}

.price-volume-line {
  width: 100%;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
  /* align-self: flex-end; */
}

.choose-button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
}

.undone-button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
}



/* ---------CARDS---------- */


.results {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.results-header {
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
  align-items: center;
}

.results-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.select-control {
  width: 250px;
  margin: 0;
  padding: 14px 20px;
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
}

.sort-list {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  display: flex;
  gap: 8px;
  text-align: center;
}

.sort-item {
  margin: 0;
  padding: 0;
}

.sort {
  width: 24px;
  height: 20px;
  display: block;
  margin: 0;
  padding: 14px 12px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  text-align: center;
  align-content: center;
}

.sort-current {
  border-color: #000;
}

.sort-icon {
  display: block;
  justify-self: center;
}

.hotel-list {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  border-bottom: solid 1px #E6E6E6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 298px;
  padding: 20px;
  margin: 0;
  border: solid 1px #E6E6E6;
  border-radius: 4px;
}

.hotel-card-type-n-price,
.hotel-card-buttons,
.hotel-card-raiting {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.show-more {
  margin: 0;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.add-to-favorits {
  margin: 0;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.raiting-stars {
  display: flex;
  gap: 6px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.raiting-star {
  margin: 0;
  padding: 0;
  align-content: center;
}

.star {
  display: block;
}

.raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 22px;
  margin: 0;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000;
}

.pagination-dots {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  align-content: center;
}
